<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="./nlog-internal.log"
      internalLogLevel="Info" >

	<targets>
		<target xsi:type="File" name="logfile" fileName="./logs/console-app.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="devconsole1"
				layout="${longdate}|${level}|${logger}|${all-event-properties} ${newline}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target |Oanda.RestApi.Services.OandaRestApi-->
	
	<rules>
		<logger name="*" minlevel="Information" writeTo="logfile,devconsole1" />
		
	</rules>
	
</nlog>